In [6]:
student_1 = 'Anatoly'
student_2 = 'Ivan'
student_3 = 'Fedor'

student_4 = 'Beslan'
student_5 = 'Ivan'
student_6 = 'Oksana'

In [2]:
python_students = [student_1, student_2, student_3]

In [3]:
python_students

['Anatoly', 'Ivan', 'Fedor']

In [16]:
#my_list= [1, 2, 3, 'hi', True]

In [5]:
my_list

[1, 2, 3, 'hi', True]

In [17]:
my_index = 1

In [18]:
start_i = 0
end_i = 2

In [7]:
sql_students = [student_4, student_5, student_6]

In [8]:
python_students

['Anatoly', 'Ivan', 'Fedor']

In [9]:
sql_students

['Beslan', 'Ivan', 'Oksana']

In [20]:
python_students[start_i:end_i]

['Anatoly', 'Ivan']

In [31]:
my_list = list(range(50,150))

In [39]:
my_list[10:0:-1]

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51]

In [40]:
my_list[::-1]

[149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 116,
 115,
 114,
 113,
 112,
 111,
 110,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 101,
 100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50]

In [41]:
python_students

['Anatoly', 'Ivan', 'Fedor']

In [42]:
python_students.append('Masha')

In [43]:
python_students

['Anatoly', 'Ivan', 'Fedor', 'Masha']

In [44]:
python_students.extend(['Igor', 'Daniil'])

In [45]:
python_students

['Anatoly', 'Ivan', 'Fedor', 'Masha', 'Igor', 'Daniil']

In [46]:
python_students.extend(sql_students)

In [47]:
python_students

['Anatoly',
 'Ivan',
 'Fedor',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana']

In [48]:
python_students.insert(0, 'Vera')

In [49]:
python_students

['Vera',
 'Anatoly',
 'Ivan',
 'Fedor',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana']

In [50]:
python_students.insert(0, ['Vera', 'Fedor'])
python_students

[['Vera', 'Fedor'],
 'Vera',
 'Anatoly',
 'Ivan',
 'Fedor',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana']

In [51]:
python_students.pop(0)

['Vera', 'Fedor']

In [52]:
python_students.remove('Ivan')
python_students

['Vera',
 'Anatoly',
 'Fedor',
 'Masha',
 'Igor',
 'Daniil',
 'Beslan',
 'Ivan',
 'Oksana']

In [53]:
my_set = {1, 1, 2, 3}

In [54]:
students_set = set(python_students)

In [55]:
my_set

{1, 2, 3}

In [56]:
students_set

{'Anatoly',
 'Beslan',
 'Daniil',
 'Fedor',
 'Igor',
 'Ivan',
 'Masha',
 'Oksana',
 'Vera'}

In [57]:
[1, 1, 2]

[1, 1, 2]

In [58]:
{1, 1, 2}

{1, 2}

In [59]:
python_students_set = set(python_students)
sql_students_set = set(sql_students)

In [60]:
python_students_set

{'Anatoly',
 'Beslan',
 'Daniil',
 'Fedor',
 'Igor',
 'Ivan',
 'Masha',
 'Oksana',
 'Vera'}

In [61]:
sql_students_set

{'Beslan', 'Ivan', 'Oksana'}

In [62]:
python_students_set.difference(sql_students_set)

{'Anatoly', 'Daniil', 'Fedor', 'Igor', 'Masha', 'Vera'}

In [63]:
python_students_set.intersection(sql_students_set)

{'Beslan', 'Ivan', 'Oksana'}

In [65]:
my_list.clear()

In [74]:
#Практика п. 4. Урок "Списки(list) и множества(set)"". 
my_list = [1, 2, 3, 'hi', True]
first_item = my_list[0]
last_item = my_list[-1]
reversed_list = my_list[::-1]
even_items = my_list[::2]
print(first_item, last_item, reversed_list, even_items)

1 True [True, 'hi', 3, 2, 1] [1, 3, True]

In [78]:
#Практика п. 5 Урок "Списки(list) и множества(set)"
'''
Задание:

В переменную var_1 сохраните список с числами от -100 до 100 включительно с шагом в 1.

В переменную var_2 сохраните список с числами от 250 до 0 включительно с шагом в 2.

В переменную var_3 сохраните список со всеми нечетными числами от 100 до 200.
'''
var_1 = list(range(-100, 101))
var_2 = list(range(250, -1, -2))
var_3 = list(range(101, 200, 2))

In [155]:
#Практика п. 6 Урок "Списки(list) и множества(set)" New
'''
В переменных  a и b хранятся числа — начало и конец диапазона. 
Напишите программу, которая вернет сумму всех чисел из этого 
диапазона. Сохраните значение в переменную result. 
'''
a = 1
b = 3 
result = sum(list(range(a, b+1)))
result

6

In [ ]:
#Практика п. 7 Урок "Списки(list) и множества(set)"
'''
Давайте потренируемся использовать различные методы списков. В переменной my_list сохранен не пустой список, в котором есть число 11. 

Найдите первый индекс числа 11 в my_list, сохраните индекс в переменную eleven_index.  

В переменную ten_count сохраните, сколько раз в списке my_list встречается число 10.
'''
my_list = [1, 10, 0, 10, 11]
eleven_index = my_list.index(11)
ten_count = my_list.count(10)

In [94]:
#Практика п.8 Урок "Списки(list) и множества(set)"
'''
В student_names сохранен список с именами студентов, добавьте в список два имени 'Anatoly' и 'Oksana'.

В scores сохранен список из десяти целых числе, удалите из него второй, пятый и последний элемент.

В lessons сохранен список с названием уроков, отсортируйте названия уроков в списке по алфавиту.
'''
student_names = ['Ivan']
student_names.extend(['Anatoly', 'Oksana'])
scores = [1, 4, 7, 4, 4, 6, 8]
scores.pop(-1)
scores.pop(4)
scores.pop(1)
scores
#lessons.sort()

[1, 7, 4, 6]

In [95]:
#Практика п.10 Урок "Списки(list) и множества(set)"
'''
Создайте кортеж с названиями дней недели и сохраните его в переменную days_of_the_week.
'''
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
days_of_the_week

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [130]:
#Практика п.11 Урок "Списки(list) и множества(set)"
'''
Задание:

В переменной numbers_list сохранен список с целыми числами. В списке минимум два разных целых числа.

В переменную numbers_list_ordered сохраните все числа из списка numbers_list, отсортированные по убыванию. При этом сам список numbers_list не должен изменяться.

В переменную numbers_set сохраните множество из уникальных чисел из списка numbers_list. Дополните это множество следующим целым числом после максимального числа из numbers_list.

В переменную numbers_frozenset сохраните неизменяемое множество из всех уникальных чисел из списка numbers_list, кроме минимального числа.
'''
numbers_list = [1, 5, 3, 3, 5]
numbers_list_ordered = sorted(numbers_list, reverse=True)
numbers_set = set(numbers_list)
numbers_frozenset = frozenset(sorted(set(numbers_list))[1:])
numbers_set.add(max(numbers_list) + 1)
numbers_frozenset

frozenset({3, 5})

In [147]:
#Практика п.12 Урок "Списки(list) и множества(set)"
'''
Даны два списка list_1 и list_2. Отсортируйте list_1 по возрастанию, а list_2 по убыванию. 
Объедините list_1 и list_2 в один отсортированный по возрастанию список list_3.  
В переменную list_3_len сохраните длину  list_3
'''
list_1 = [1, 5, 3]
list_2 = [2, 8]
list_1.sort()
list_2.sort(reverse=True)
list_3 = (list_1 + list_2)
list_3.sort()
list_3_len = len(list_3)

5

In [149]:
#Практика п.13 Урок "Списки(list) и множества(set)"
'''
В переменной menu хранится множество всех позиций меню кофейни, 
а в переменной stop — множество позиций меню кофейни, недоступных для 
заказа сегодня. Сохраните в переменную menu_today позиции меню, которые 
доступны для заказа сегодня
'''
menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte', 
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

menu_today = menu.difference(stop)
menu_today

{'Americano', 'Chocolate Chip Cookie', 'Flat White', 'Latte'}

In [152]:
#Практика п.14 Урок "Списки(list) и множества(set)"
'''
В переменной my_set множество (set) из чисел. В переменной to_delete 
число, которое нужно удалить из my_set, если оно там есть. Если такого 
числа нет в my_set ничего делать не надо
'''
my_set = {0, 10, 100}
to_delete = 0
my_set.remove(to_delete)
my_set

{10, 100}

In [157]:
#Практика п.15 Урок "Списки(list) и множества(set)"
'''
Задача
В students хранится множество студентов it-центра МАИ. Студент, имя 
которого записано в new_student, перевелся в МАИ из другого института, 
его имя нужно добавить в students. В переменной churn_student — студент, 
который хочет перевестись из МАИ в другой институт, его имя нужно 
убрать из students. 
'''
students = {'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария'}
new_student = 'Василенко Анна'
churn_student = 'Полякова Ольга'
students.add(new_student)
students.discard(churn_student)
students

{'Василенко Анна',
 'Дудочкин Илья',
 'Захарова Мария',
 'Кравченко Виталий',
 'Некрасов Игорь'}

In [159]:
#Практика п.16 Урок "Списки(list) и множества(set)"
'''В переменной da_students хранятся имена студентов курса 
"Аналитик данных", а в переменной dv_students — имена студентов курса 
"Визуализация данных". Сохраните в переменную students студентов, 
которые обучаются на обоих курсах.

Порядок элементов в students не имеет значения.'''
# студенты курса "Аналитик данных"
da_students = {'Ivanov Alexander', 'Loginov Vladislav', 'Ershova Anna', 'Korneva Daria'}
# студенты курса "Визуализация данных"
dv_students = {'Ershova Anna', 'Egunov Andrey', 'Ignatov Alexey', 'Loginov Vladislav'}

# результат
students = da_students.intersection(dv_students)
students

{'Ershova Anna', 'Loginov Vladislav'}

In [168]:
#Практика п.17 Урок "Списки(list) и множества(set)"
'''В переменной a хранится список целых неотрицательных чисел. 
Количество чисел четное.
Напишите программу, которая будет делить этот список пополам, 
определять суммы чисел в половинах списка (sum_left и sum_right). 
Если sum_left равно sum_right, то сохраните в переменную result 
значение True,  в противном случае — False.'''
a = [1, 2, 4, 3]
sum_left = sum(a[:len(a) // 2])
sum_right = sum(a[len(a) // 2:])
result = sum_left==sum_right

False

In [180]:
#Практика п.18 Урок "Списки(list) и множества(set)"
'''
Даны список целых чисел a и число b. Удалите из a первое 
и последнее вхождение числа b'''
a = [1, 2, 2, 1, 3, 2, 3]
b = 1 
a.remove(b)
a = a[::-1]
a.remove(b)
a = a[::-1]
a

[3, 2, 3, 2, 2]